@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgrey;
}
#block{
    width: 90%;
    padding: 20px;
    box-shadow: 0 10px 10px black;
    margin: auto;
    background: lightyellow;
}
#icon{
    width: auto;
    height: 100px;
    margin: 20px;
    float: left;
    padding: 10px;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    margin: auto;
    
    /* width: 80%; */
}
#headSection{
    
    background-color: #acb82c;
    display: inline-flex;
    width: 100%;
    
}
nav{
    width: 100%;
    background-color: #acb82c7e;
    font-family: cursive;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px black;
    
}
nav ul{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    /* margin-left: 50%; */

}
nav ul li{
    display: inline-block;
    padding: 10px ;
   
}
nav ul li a{
    color: black;
    
    text-decoration: none;
}

#location {
    color: blue;
}
/* ---------------------- */

table{
    
    
    table-layout: fixed;
    width: 40%;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 0 10px black;
    
}
td{
    border: black solid 1px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;

}
th{
    border: black solid 1px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
      
}
tr :last-child{
    background-color:rgba(175, 89, 49, 0.438);
    border: black solid 1px;
    width: 70px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;

}
section p{
    margin:  10% auto 0 auto;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}

/* ---------------- */

#form{
    margin: 20px auto;
    width: 100%;
    
}
#NewLocation fieldset legend {
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 0 5px black;
}
#NewLocation fieldset {
    /* box-shadow: 0 0 10px black; */
    
    border: solid black 1px;
    margin: 10px auto;
    width: max-content;
    border-radius: 10px;
    
}
fieldset input,label{
    margin: 10px 10px;
    display: block;
    text-align: center;
    
    
}
#NewLocation fieldset div{

    margin: 10px ;
    /* border: 2px solid black; */
    display: inline-block;
    background-color: rgba(175, 89, 49, 0.438);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
#NewLocation fieldset #sub{
    width: 20%;
    height: 50px;
    background-color: darkred;
    color: wheat;
    font-weight: bolder;
    font-family: cursive;
    margin: 20px auto;
    box-shadow: 0 0 10px black;
    border: none;
}


/* ------------- */
